@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.featuresSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  margin-bottom: 180px;
}
.featureItem {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 294px;
  height: 294px;
}

.featureItem h3 {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: center;

}

.featureItem p {
  margin-top: 0.5rem;
  color: #4C4C4C;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;

}
.imageContainer {
  position: relative;
  width: 210px; 
  height: 210px; 
  margin: 0 auto; 
}

.brainback {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; 
}

.brain {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%; 
  left: 50%; 
  z-index: 1; 
}

.booksKids{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  color: #88B520;
}
.text{
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
}
.fotot{
  margin-left: 40px;
}
