@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  position: relative;
  min-height: 100vh;
}

.textContent {
  position: relative;
  z-index: 2; 
  font-size: 75px;
  font-weight: 400;
  line-height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left; 
  max-width: 60%; 
}

.heroHeading {
  font-family: 'Chewy', cursive;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: white; 
  margin-bottom: 20px;
}

.heroSubheading {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-bottom: 30px;
}

.storeButtons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.heroButtons {
  display: flex;
  justify-content: flex-start;
}

.startButton {
  padding: 10px 40px;
  background-color: #FCD300;
  color: black;
  border: none;
  border-radius: 100px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  width: 300px; 
  height: 43px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.startButton:hover {
  background-color: #C0392B; 
}

.free{
  font-family: 'Shadows Into Light', cursive;
  font-size: 37px;
  font-weight: 400;
  line-height: 59.44px;
  text-align: left;
  color: white;
}
.backgroundImage {
  position: absolute;
  top: -20px; 
  left: -50px; 
  width: 564px; 
  height: 277px; 
  z-index: 1; 
  overflow: hidden;
}

.phone{
  position: absolute; 
  top: 0; 
  left: 47%;
  width: 455.17px;
  z-index: 2;
  height: 597.36px;
  gap: 0px;
  opacity: 0px;
}

.backgroundBehindPhone {
  position: absolute;
  width: 400px;
  height: 500px;
  z-index: 1; 
  overflow: hidden;
  top: 12%; 
  left: 65%;
}


.object {
  position: absolute; 
  top: 40%; 
  left: 48%; 
  transform: translate(-50%, -50%) rotate(7deg); 
  width: 343.42px; 
  height: 321.62px; 
  z-index: 1; 
}
.obj{
  position: absolute; 
  top: 70%; 
  left: 42.6%; 
  transform: translate(-50%, -50%) rotate(7deg); 
  z-index: 2; 
}
.clouds{
  border: none;
  position: relative;
}
.imageContainer {
  position: relative;
}

.cloudImage {
  width: 100%; 
}

.star {
  position: absolute;
  top: 100px; 
  left: 80px;
  z-index: 1; 
}