@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  position: relative;
}

.textContent {
  position: relative;
  z-index: 2; 
  font-size: 75px;
  font-weight: 400;
  line-height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left; 
  max-width: 60%; 
}

.heroHeading {
  font-family: 'Chewy', cursive;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: white; 
  margin-bottom: 20px;
}

.heroSubheading {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-bottom: 30px;
}

.storeButtons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.heroButtons {
  display: flex;
  justify-content: flex-start;
}

.startButton {
  padding: 10px 40px;
  background-color: #FCD300;
  color: black;
  border: none;
  border-radius: 100px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  width: 300px; 
  height: 43px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.startButton:hover {
  background-color: #C0392B; 
}

.imageWrapper {
  max-width: 400px;
  flex-shrink: 0;
}

.backgroundImage {
  position: absolute;
  top: -20px; 
  left: -50px; 
  width: 564px; 
  height: 277px; 
  z-index: 1; 
  overflow: hidden;
}
